.widget-camera-parent{
    position: relative;
    width: 100%;
    height: 100%;
    }

.widget-camera-picture{
    cursor: pointer;
    float: left;
    top: -42px;
    position: relative;
    }

.widget-camera-switch-button{
    cursor: pointer;
    float: right;
    top: -42px;
    position: relative;
}

span.Spacing{
    padding: 10px;
}
span.glyphicon{
    font-size: 2.2em;
}
